<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crud board</title>
  </head>
  <body>
    <h1>Wellcome!</h1>

    <h3>Data Upstream Downloader API</h3>

    <table id="">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>content</th>
        <th>
          <button>Save</button>
        </th>
      </tr>

      <tr>
        <td>id</td>
        <td>name</td>
        <td>content</td>
        <td>
          <button>Edit</button>
          <button>Delete</button>
        </td>
      </tr>
    </table>
    <ul id="dataplace">
      <li>
        {data.id} &nbsp;&nbsp;&nbsp; {data.name}&nbsp;&nbsp;{data.content}
      </li>
    </ul>
    <script src="./datascript.js"></script>
  </body>
</html>
